# Server Configuration
container:
  id: "01j1e00n3ksvn0txfrpz0t10jc"
  server_url: "https://vpc-seller.erra.my.id"

server:
  port: 3000
  host: "0.0.0.0"
  domain: "id-east-1.de-rellic.cloud"
  system_path: "c0n9wb-sys"

# Database Configuration
database:
  mysql:
    dsn: "user:passWDExtraVaganza@tcp(db:3306)/rellic_sps?charset=utf8mb4&parseTime=True&loc=Local"
  redis:
    addr: "localhost:6379"
    password: ""
    db: 0

